* {
    caret-color: #a855f7; /* purple-500 */
  }
  body {
    background-image: url('/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .sm\\:ml-64,
  #default-sidebar {
    background-color: transparent;
  }
  
  .unfocused {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
  }
  .clip-path {
    -webkit-clip-path: polygon(0 0, 60% 0, 100% 50%, 59% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 100% 50%, 59% 100%, 0 100%);
  }
  
  .text-gradient {
    background: linear-gradient(to right, #667eea, #764ba2, #ff758c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-opacity-custom {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .astronaut {
    background-image: url('/astronaut-without-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: bounce 8s infinite;
    /* pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite */
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  @keyframes pulse {
    50% {
      opacity: 0.7;
    }
  }
  